body {
	background: #282f33;
	padding: 0;
	margin: 0;
	font: 14px Arial, Helvetica, Garuda, sans-serif;
	height: 100vh;
}

h1, h2, h3, h4, h5, h6, ul, li, em, strong, pre, code {
	padding: 0;
	margin: 0;
	line-height: 1em;
	font-size: 100%;
	font-weight: normal;
	font-style: normal;
}

h2 {
	font: 24px Arial, Helvetica, Garuda, sans-serif;
	padding: 10px 0;
}

table {
	font-size: inherit;
	font: 100%;
}

ul {
	list-style: none;
}

img {
	border: 0;
}

p {
	margin: 1em 0;
}

a {
	text-decoration: none;
}


.wrapper {
	max-width: 1600px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.header {
	background: #3f3c4e;
	/* min-height: 192px; */
	color: #fff;
	/* overflow: hidden; */
}



.header-logo {
	padding: 1.5% 17px;;
	float: left;
}

.header-logo img {
	width: 120px;
}


.content {
	background: var(--bs-body-bg);
	overflow:hidden;
	/* height: 830px; */
	color: var(--bs-light-text-emphasis);
}

/* .content a {
	color: #022d46;
} */

.content a:hover {
	text-decoration: underline;
}

.content-block1 {
	/* min-height: 457px; */
}

.content-page {
	width: 90%; /* было 75.5% */
	/* height: 630px; */
	/* max-height: fit-content; */
	/* margin-right: 1.5%; */
	/* margin-bottom: 17px; */
	float: left;
	overflow: hidden;
	text-align: justify;
}

.content-page {
	max-width: 100% !important;
}

.content-page img {
	max-width: 100%;
	height: auto;
}

.content-page b, .content-page strong {
	font-weight: bold;
}

.content-page ol {
	margin-left: 5px;
}

.content-page ul {
	margin-left: 40px;
	list-style-type: square;
}

.content-page ul li {
	padding: 2px 0px;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0px 1.5% 0 1.5%;
}

.footer {
	background: #144e0a;
	width: 100%;
}

.footer-main {
	background: #3f3c4e;
	min-height: 66px;
}



@media screen and (max-width:1400px) {

.content{
	/* margin-top: 1rem; */
}

.header-nav-menu-link-left {
        min-width: 130px;
}

.title-txt {
        width: 650px;
}
                        
.header-nav-menu {
        font-size: 14px;
        cursor: pointer;
}
                                
}
                                

@media screen and (max-width:1200px) {

.container{
	width: 100%;
	padding: 0;
}

.content-page{
	padding: 0;
	width: 100%;
}

.header {
	/* min-height: 140px; */
}

.header-logo img {
	width: 70px;
}

.header-logo {
	padding: 0px;
	/* padding-top: 35px;
	padding-left: 35px; */
}

}

@media screen and (max-width:991px) {

	.content{
		margin-top: 0;
	}
	
.container{
	width: 100%;
	padding: 0;
}

.content-page{
	padding: 0;
	width: 100%;
}


}


@media screen and (max-width:750px) {

	.content{
		margin-top: 0;
	}
	
.container{
	width: 100%;
	padding: 0;
}

.content-page {
	width: 100%;
	padding-right: 0%;
}

.sidebar {
	width: 100%;
	float: left;
	margin-top: 15px;
}

.container {
	padding: 0; /* было 4%*/
}

.header-logo {
	display: none;
}


}

@media screen and (max-width: 600px) {

	.content{
		margin-top: 0;
	}
	
.wrapper {
	min-width: 260px;
}
	
.container {
	padding: 0; /* было 2%*/
}

.header {
	min-width: 260px;
	/* min-height: 80px; */
}

/* .header-logo {
	padding-left: 20px;
	padding-top: 20px;
} */

.footer {
	min-width: 260px;
}


}