name: start build and deploy

on: 
    push: 
        branches: [main]

jobs:
    deploy:
        name: Deploy to server
        runs-on: ubuntu-latest
        strategy:
          matrix:
            # os: [ubuntu-latest]
            node: [20]

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4.1.1

            - name: Setup Node.js
              uses: actions/setup-node@v4.0.2

              with: 
                node-version: ${{ matrix.node }}

            - name: Path
              run: cd dzudo-client

            - name: Install dependencies
              run: npm ci

            - name: Build application
              run: npm run build

            - name: Deploy
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: 79.174.84.7
                  user: ${{ secrets.USER }}
                  password: ${{ secrets.PASSWORD }}
                  server-dir: /var/www/server/dzudo-client/build

